/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #69C71B;
  --vp-c-brand-2: #2F8F00;
}

section > div.item > h2 {
  font-size: 1rem;
}
section > div.items a p{
  text-indent: 0.8em;
}

.vp-doc table > tbody > tr > td{
  vertical-align: top
}